h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 80%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: bisque;
}

.image-weapper {
  margin: 20px 20px;
}